header {
    background-image: url(../img/pattern.png);
    background-color: rgb(34, 140, 211);
    background-size: initial;
    height: 160px;
    width: 1500;
}

#logo {
    height: 60px;
    position: absolute;
    bottom:10%;
}

#logo-container {
    height: 160px;
    position: relative;
}

h1 {
    text-align: left;
    font-size:30px;
}

#subtitle{
    color: rgb(197, 190, 190);
}

#boolean {
    color: rgb(35, 158, 235);
}